.coming-soon {
    margin: auto;
    padding-bottom: 70px;
    background: $color-bg;
    .container {
        max-width: 1120px;
        margin: auto;
        .coming-soon-content {
            padding-top: 80px;
            .coming-soon-header {
                display: flex;
                h2 {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: -0.01em;
                    color: $color-title;
                }
                a {
                    margin: 0px 0px 0px auto;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    padding-top: 22px;
                    text-decoration-line: underline;
                    color: $color-browse;
                }
            }
            @media (max-width: 425px) {
                .coming-soon-header {
                    flex-direction: column;
                    a {
                        margin: 0px;
                    }
                }
            }
        }
    }
    @media (min-width: 1121px) {
        .container {
            padding: 0px;
        }
    }
}
