#checkbox-search:checked ~ .search-bar {
    transform: translateX(0%);
}
.search-bar {
    z-index: 3;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: $color-nav-mobile-bg;
    padding: 25px;
    transform: translateX(-100%);
    animation-name: In;
    animation-duration: 0.7s;
    transition: transform linear 0.3s;
    .navbar-mobile-header {
        display: flex;
        justify-content: space-between;
        .nav-mobile-close {
            float: right;
            .close-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
    .mobile-search-form {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        display: flex;
        border-width: 2px;
        border: 2px solid $color-mobie-search-border;
        box-sizing: border-box;
        border-radius: 4px;
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            -webkit-appearance: none;
        }
        .mobile-search-input {
            padding-left: 10px;
            width: 90%;
            background: $color-nav-mobile-bg;
            border: none;
            outline: none;
        }
        .mobile-icon-search {
            margin: auto 10px auto auto;
        }
    }
}

@keyframes In {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
