//header color
$color-bg: #F8F8FB;
$color-nav-item:#777E90;
$color-nav-item-hover:#090a0a;
$color-border-space:#c8cede;
$color-button-wallet:#3772FF;
$color-button-wallet-text:#FFFFFF;
$color-button-change_NFT:#E6E8EC;

// baner color

// new arrival/comingsoon
$color-title:#23262F;
$color-browse:#777E90;
$color-item-bg:#FFFFFF;
$color-item-box-shadow:rgba(31, 47, 70, 0.12);
$color-item-name:#23262F;
$color-item-edit:#777E90;
$color-item-price:#23262F;
$color-item-realprice:#777E90;
$color-item-status:#9757D7;

//category 
$color-category-bg: #FCFCFD;
$color-category-title:#23262F;
$color-category-browse:#777E90;
$color-category-button-bg:#3772FF;
$color-category-button-color:#FFFFFF;
$color-browse-all-hover: #090a0a;
$color-category-item-button-bg:#FFFFFF;
$color-category-item-button-border:#E6E8EC;
$color-category-item-button-color:#23262F;

//footer collor
$color-ft-bg: #F8F8FB;
$color-ft-dicript:#23262F;
$color-ft-title:#23262F;
$color-ft-item:#777E90;


