//header color
$color-bg: #F8F8FB;
$color-nav-item:#777E90;
$color-nav-item-hover:#090a0a;
$color-border-space:#c8cede;
$color-button-wallet:#3772FF;
$color-button-wallet-text:#FFFFFF;
$color-button-change_NFT:#E6E8EC;

// baner color


//category 
$color-browse-all-hover: #090a0a;

//footer collor
$color-ft-bg: #F8F8FB;
$color-ft-dicript:#23262F;
$color-ft-title:#23262F;
$color-ft-item:#777E90;


