//header color
$color-bg: #f8f8fb;
$color-nav-item: #777e90;
$color-nav-item-hover: #090a0a;
$color-border-space: #c8cede;
$color-button-wallet: #3772ff;
$color-button-wallet-text: #ffffff;
$color-button-change_NFT: #e6e8ec;
//nav mobile
$color-overlay-bg: #000000;
$color-nav-mobile-bg: #ffffff;
$color-mobie-search-border: #bfc2c7;

// baner color
$color-banner-title-color: #ffffff;
$color-banner-discript-color: #e6e7f5;
$color-banner-button-bg: #3772ff;
$color-banner-button-color: #ffffff;

//highlight
$color-highlight-bg: #fcfcfd;
$color-highlight-tag-bg: #e6e6e6;
$color-highlight-tag-color: #4f5566;
$color-highlight-price-color: #777e90;
$color-highlight-button-buy-bg: #3772ff;
$color-highlight-button-buy-color: #fcfcfd;
$color-highlight-button-make-border: #e6e8ec;
$color-highlight-button-make-color: #23262f;

// new arrival/comingsoon
$color-title: #23262f;
$color-browse: #777e90;
$color-item-bg: #ffffff;
$color-item-box-shadow: rgba(31, 47, 70, 0.12);
$color-item-name: #23262f;
$color-item-edit: #777e90;
$color-item-price: #23262f;
$color-item-realprice: #777e90;
$color-item-status: #9757d7;

//category
$color-category-bg: #fcfcfd;
$color-category-title: #23262f;
$color-category-browse: #777e90;
$color-category-button-bg: #3772ff;
$color-category-button-color: #ffffff;
$color-browse-all-hover: #090a0a;
$color-category-item-button-bg: #ffffff;
$color-category-item-button-border: #e6e8ec;
$color-category-item-button-color: #23262f;

//footer collor
$color-ft-bg: #f8f8fb;
$color-ft-border: #e4e1e3;
$color-ft-dicript: #23262f;
$color-ft-title: #23262f;
$color-ft-item: #777e90;
